<ion-tabs>
  <ion-tab-bar slot="bottom" color="superblue">
    <ion-tab-button tab="mainstore" >
      <i class='bx bxs-store-alt'></i>
      Store
    </ion-tab-button>
    <ion-tab-button tab="cart" >
      <i class='bx bx-cart-alt'></i>
      Cart
    </ion-tab-button>
    <ion-tab-button tab="history" >
      <i class='bx bx-package'></i>
      Wishlist
    </ion-tab-button>
    <ion-tab-button tab="settings" >
      <i class='bx bxs-cog' ></i>
      Settings
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
