
<ion-content [fullscreen]="true">
  <i class='bx bx-arrow-back' 
    style="font-size: 22px; font-weight: 300; margin-left: 20px; margin-top: 20px;" 
    routerLink="/home">
  </i>

  <img src="../../assets/icono.png" alt="" style="margin-top: 160px !important; display: flex; margin: 20px auto; width: 128px; height: 128px;">
  <h1 class="ion-text-center" style="margin-bottom: 60px;">Ecommerce</h1>
  
  <ion-list class="ion-padding">
    <p class="ion-text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, non in praesentium et est quibusdam.</p>
    <ion-label position="floating">Email</ion-label>
    <ion-item>
      
      <ion-input type="email" ></ion-input>
    </ion-item>


    <br>
    <ion-button expand="block" color="superblue" mode="ios" routerLink="/home">Send Password</ion-button>
    <br>
    <!--ion-button expand="block"  color="main" mode="ios" routerLink="/login">LOGIN</ion-button-->
  </ion-list>

</ion-content>
