
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="vspace"></div>
  <h1 class="ion-text-center">My cart</h1>

  <ion-list>
    <div class="cart-content">
      <img src="../../assets/oranges.jpg" alt="">
      <div class="information">
        <h1>Product Name <span><i class='bx bx-cart-alt'></i></span></h1>
        <p>
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star-half'></i>
        </p>
        <div class="price-information">
          <p>$22</p> <span>view</span>
        </div>
      </div>
    </div>

    <div class="cart-content">
      <img src="../../assets/living.jpg" alt="">
      <div class="information">
        <h1>Product Name <span><i class='bx bx-cart-alt'></i></span></h1>
        <p>
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star-half'></i>
        </p>
        <div class="price-information">
          <p>$22</p> <span>view</span>
        </div>
      </div>
    </div>

    <div class="vspace"></div>
    <div class="vspace"></div>
  </ion-list>


  <div class="total-content">
    <h1>SubTotal <span style="text-align: right;">$22</span></h1>
    <p>Delivery <span style="text-align: right;">$4</span></p>
    <div class="separator"></div>
    <h4>Total <span class="bluecolor" style="text-align: right;">$24</span></h4>
  </div>



</ion-content>
