
<ion-content [fullscreen]="true">
  <div class="app-bg">
    <div class="ion-padding">
      <img src="../../assets/icono.png" alt="" style="margin-top: 80px !important; display: flex; margin: 20px auto; width: 128px; height: 128px;">
      <h1 class="ion-text-center" style="margin-bottom: 60px; color: white;">Ecommerce</h1>
      <p class="ion-text-center" style="font-size: 20px; margin-bottom: 60px; color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate aperiam mollitia magnam</p>
      <ion-button color="superblue" expand="block" mode="ios" routerLink="/login">LOGIN</ion-button>
      <br>
      <ion-button expand="block"  color="main" mode="ios" routerLink="/register">REGISTER</ion-button>
    </div>
  </div>
</ion-content>
